node_modules
# Keep environment variables out of version control
.env
src/test.js
src/uploads/*.png
src/uploads/*.jpg
src/uploads/*.jpeg
src/uploads/haydovchi-*.png
src/uploads/haydovchi-*.jpeg
src/uploads/haydovchi-*.jpg